#main-background{
  width: 800px;
  height: 400px;
  background: gray;
  position: relative;
}

.main-panel{
  position: absolute;	/* to set exact coordinates in divs */
  overflow: auto;	/* to allow scrolling within divs */
  height: 390px;
  top: 5px;
  background: green;
}

#left-panel{
  width: 190px;
  left: 5px;
}

#right-panel{
  width: 190px;
  left: 605px;
}

#center-panel{
  width: 390px;
  left: 205px;
}
